*{
    box-sizing: border-box;

}

body{
    margin: 0;
    background-color: #000;
    overflow-x: hidden;
    background-image: url('');
    background-position: center;
    background-size: cover;
    height: 100vh;
}



h1 {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    margin-block: 0;
    margin-inline: -12px;
    
}

h2 {
    font-family: 'Bellefair', serif;
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
}

h3 {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    color: #fff;
}

h4 {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    color: #0B0D17;
    text-transform: uppercase;
    font-weight: 400;

}

h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.725px;
    color: #D0D6F9;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.subheading1 {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.subheading2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2.35px;
    font-weight: 400;
    text-transform: uppercase;
    color: #D0D6F9;
    margin-bottom: 12px;
}

.nav-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 4.7px;
    color: #fff;
    text-transform: uppercase;
}

.body-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-transform: uppercase;
}









.header {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 96px;
    position: absolute;
    top: 20px;
    z-index: 9999;
}

.header-content-area{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo--area {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    
}

.hrz--line {
    width: 0 px; /*Getting value from Javascript*/
    top: 0 px; /*Getting value from Javascript*/
    margin-left: 0 px; /*Getting value from Javascript*/
    opacity: 0.25;
    position: absolute;
    z-index: 999;
}

.menu-area nav ul {
    list-style-type: none ;
    display: flex;

}

.menu-area {
    width: 57.63vw;
    height: 96px;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(8px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-area nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit
}

.menu-area nav ul{
    height: inherit;
    margin: 0;

}

.menu-area nav ul li {
    margin-right: calc(57.63vw * 0.0578);
    display: flex;
    align-items: center;
    height: calc(100% - 3px);
    box-sizing: content-box;
    cursor: pointer;
    opacity: 1;
    
}


.menu-area nav ul li:hover, 
.menu-active{
    border-bottom: 3px solid #fff;
}

.menu-area nav ul li span {
    margin-right: calc(57.63vw * 0.01325);
    font-weight: bold;
}








.home-body{
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
    transition: opacity .4s ease;
}



.home-content {
    width: 77.08vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.home-content .text-area{
    width: calc(0.333333 * 100vw);
    margin-bottom: calc(100vh * 0.14555);
    
}


.explore-button {
    width: calc(100vw * 0.3125);
    height: calc(100vw * 0.3125);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-bottom: 20px;
    transition: all ease .7s;
}

.visible{
    background-color: rgba(255, 255, 255, 0.1036);
}

.explore-button-white{
    width: calc(100vw * 0.1903);
    height: calc(100vw * 0.1903);
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}






.destination-body {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.destination-container {
    width: calc(90vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*.destination--slide {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}*/

.destination-header{
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
    margin-bottom: 60px;
}

.destination-header span {
    color: rgba(255, 255, 255, 0.25);
    font-size: 28px;
    margin-right: 28px;
} 

.destination--slider {
    width: calc(90vw*4);
    display: flex;
}

.destination-content{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.destination-content .img-area {
    width: calc(100vh*0.4944);
    height: calc(100vh*0.4944);
    background-image: url('../assets/destination/image-moon.png');
    background-size: cover;
    background-position: center;
}

.destination-content .text-area {
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.destinations--places ul {
    display: flex;
    list-style-type: none;
    margin-block-end: .5em;
    padding-inline-start: 0px;
    
}

.destinations--places ul li {
    display:block;
    height: fit-content;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 35px;
    padding-bottom: 15px;
    cursor: pointer;
}

.destination--active {
    border-bottom: 3px solid #fff;
}

.destinations--places ul li:hover {
    border-bottom: 3px solid #fff;
}


.travel--info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-top: 1px solid #383B4B;
}

.distance--info, 
.duration--info {
    display: flex;
    flex-direction: column;
    margin-top: 28px;

}



.page-active{
    display: flex;
}